* {
	border: 0px;
	padding: 0px;
}

.nav {
	padding-top: 10px;
	border-bottom: solid 2px black;
	margin-bottom: 10px;
}


/*li {
	vertical-align: middle;
}
*/
/** {
	border: 0px;
	padding: 0px;
}

body {
	position: relative;
	width: 600px;
	height: 450px;		
	margin: 100px auto;
	border: solid 2px black;		
	padding: 20px;
}

#body_success {
	text-align: center;
	height: 150px;	
}

#flash {
	width: 300px;
	position: absolute;
	margin: -100px auto;
	left: 0;
	right: 0;
}

.error, .green {
	padding: 5px;
	border: solid 2px black;
	text-align: center;
}

.error {
	color: white;	
	background-color: red;
}

.green {
	color: green;	
	background-color: lightgreen;
}

.button {
	padding: 5px;
	border: solid 2px black;
	background-color: transparent;
	position: absolute;
	left: 200px;	
}

.remove_form {
	display: inline-block;
	vertical-align: middle;
	margin: auto 0px;
}

.remove {
	background-color: transparent;
	border: solid 2px black;
}

table {
	width: 100%;
	table-layout: fixed;
}

th {
	text-align: left;
}

input:not(.button):not(.remove) {
	width: 200px;
/*	position: absolute;
	left: 200px;*/
	padding: 5px;
	border: solid 2px black;	
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

div h4 {
	text-align: center;
}*/