.messages {
	height: 100px;
	overflow-y: auto;
}

.comment {
	height: 80px;
	overflow-y: auto;
}

.delete_message {
	color: red;
	padding: 3px;
	margin-bottom: 2px;
	border: solid 1px red;
	background-color: transparent;
	font-size:11px;	
}

.delete_comment {
	color: red;
	font-size:10px;
	text-align: top;
	text-decoration: none;
}